<!DOCTYPE html>
<html>
<head>
    <title>Update Event</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="/static/update_event.css">
</head>
<body>
    <div class="container">
        <h1>Update Event</h1>
        <form method="post" class="event-form">
            {% csrf_token %}
            <label for="event_title">Title:</label>
            <input type="text" name="event_title" id="event_title" value="{{ event.event_title }}" required><br>
            <label for="event_description">Description:</label>
            <textarea name="event_description" id="event_description" required>{{ event.event_description }}</textarea><br>
            <label for="event_date">Date:</label>
            <input type="datetime-local" name="event_date" id="event_date" value="{{ event.event_date|date:'Y-m-dTH:i' }}" required><br>
            <label for="event_location">Location:</label>
            <input type="text" name="event_location" id="event_location" value="{{ event.event_location }}" required><br>
            <button type="submit" class="submit-button">Update Event</button>
        </form>
        <a href="{% url 'view_event' event.pk %}" class="back-link">Back to Event Details</a>
    </div>
</body>
</html>
